footer {
    width: 100%;
    height: 3rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: $light-gray;
    
    position: absolute;
    bottom: 0;

    padding: 0 2rem;
    
    

    ul {
        display: flex;
        gap: 1rem;

        font-size: 14px;
        color: $dark-gray;
    }
}