header {
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    a {

    }

    svg {
        max-height: 2rem;
    }

    .sign-in-btn {
        
    }

}