.btn-blue, .btn-gray {
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn-blue {
    background: $blue;
    color: white;
    padding: .6rem 1.5rem;
    border-radius: 5px;
}

.btn-gray {
    background: $light-gray;
    color: black;
    padding: .75rem 1.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    
    &:hover {
        border: 1px solid #dadce0;
    }

}